
#dataAccessMonitoringContent h4 {
	text-align : center;
}

#dmsDiv {
	width : 30%;
	overflow : auto;
}

#darsDiv {
	max-height : 500px;
	max-width : 1000px;
	width : 70%;
	overflow : auto;
	text-align : center;
}

#dataAccessMonitoringContent table th{
	padding: 3px 18px 3px 10px;
	font-weight : bold;
	font-size : 12px;
}
#dataAccessMonitoringContent table td{
	padding: 3px 18px 3px 10px;
	font-size : 12px;
	text-align : center;
}


.ui-icon-processing {
	background: #a6d36a;
	background-repeat: no-repeat;
	-moz-border-radius:                 9px;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
	float : right;
}

.ui-icon-cancelled {
	background: #c1272c;
	background-repeat: no-repeat;
	-moz-border-radius:                 9px;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
}

.ui-icon-paused {
	background: #faec4e;
	background-repeat: no-repeat;
	-moz-border-radius:                 9px;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
	float : right;
}

.ui-icon-completed {
	background: #2489ce;
	background-repeat: no-repeat;
	-moz-border-radius:                 9px;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
	float : right;
}

.ui-icon-unknown {
	background: #736357;
	background-repeat: no-repeat;
	-moz-border-radius:                 9px;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
}