
#dataAccessMonitoringContent h4 {
	text-align : center;
}

#dmsDiv {
	width : 30%;
	overflow : auto;
}

#darsDiv {
	max-height : 500px;
	max-width : 1000px;
	width : 70%;
	overflow : auto;
	text-align : center;
}

#dataAccessMonitoringContent table th{
	padding: 3px 18px 3px 10px;
	font-weight : bold;
	font-size : 12px;
}
#dataAccessMonitoringContent table td{
	padding: 3px 18px 3px 10px;
	font-size : 12px;
	text-align : center;
}

.processing{
	background-color: #005000;
}