/* basic button variables */
@button_color: @background-color;
@border_radius: 0.5em;
@button_padding: 0.55em 2em;
 
/* color variables set relative to @button_color. You probably don't need to change these. */
@hover_background_color: lighten(@button_color, 20%);
@border_color: lighten(@button_color, 20%);
 
@normal_background_top: lighten(@button_color, 20%);
@normal_background_bottom: darken(@button_color, 10%);
 
@hover_background_top: lighten(@normal_background_top,10%);
@hover_background_bottom: lighten(@normal_background_bottom,10%);   
 
@active_background_top: @normal_background_bottom;
@active_background_bottom: @normal_background_top;   


// Special mixin for gradient in two part
.two-part-gradient (@startColor, @mid1Color, @mid2Color, @endColor) {
background-color: @mid1Color;
//TODO : old webkit gradient, is it really needed ?
//background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
background: -webkit-linear-gradient(top, @startColor 0%, @mid1Color 50%, @mid2Color 50%, @endColor 100%);
background: -moz-linear-gradient(top, @startColor 0%, @mid1Color 50%, @mid2Color 50%, @endColor 100%);
background: -ms-linear-gradient(top, @startColor 0%, @mid1Color 50%, @mid2Color 50%, @endColor 100%);
background: -o-linear-gradient(top, @startColor 0%, @mid1Color 50%, @mid2Color 50%, @endColor 100%);
}

 
.button {
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font-size: @font-size;
line-height: 100%;
padding: @button_padding;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
color: @text-color;
border: solid 1px @border_color;
background: @button_color;
.border-radius(@border_radius);
.box-shadow(0 1px 2px rgba(0,0,0,.2));
//.gradient(@normal_background_top, @normal_background_bottom);
.two-part-gradient (lighten(@button_color, 40%), lighten(@button_color, 20%), darken(@button_color,10%), @button_color);
}

.button:hover {
background: @hover_background_color;
text-decoration: none;
//.gradient(@hover_background_top, @hover_background_bottom);
.two-part-gradient (lighten(@button_color, 50%), lighten(@button_color, 30%), @button_color, lighten(@button_color,10%));
}

.button.toggle, .button:active {
position: relative;
top: 1px;
//.gradient(@active_background_top, @active_background_bottom);
.two-part-gradient (lighten(@active-color, 30%), lighten(@active-color, 10%), darken(@active-color,20%), darken(@active-color,10%));
border: solid 1px @active-color;
}
