/**
 * dataset selection view styling  
 */
 
#searchWidget {
	//max-height : 470px;
	//max-width : 500px;
	min-width : 400px;
	overflow-x: auto;
	overflow-y: auto;
	
}

#datasetListContainer{
	max-height : 450px;
	max-width : 500px;
	min-width : 400px;
	overflow-y: auto;
}

// The listview is in read-only mode because no <a> is needed for dataset list view so we need to modify the cursor
#datasetListContainer li {
	cursor: pointer;
}

#datasetSearchCriteria{
	//max-height : 450px;
	//max-width : 300px;
	min-width : 500px;
	//overflow-y: auto;
}
