@widget-background-color: fade(@background-color, 60%); 

.popup-widget-background {
	background: @widget-background-color; 
}

#downloadManagersContent{
	min-width: 400px;
}
#downloadManagerStatusMessage{
	text-align : center;
}
#downloadManagerStatusMessage p{	
	text-align : center;
	padding : 5px 10px 5px 10px;
}

.popup-widget-footer{
	padding-top : 10px;
	text-align : center;
	font-weight : bold;
	font-size : 12px;
}
