/**
 * dataset selection view styling  
 */
 
#searchWidget {
	//max-height : 500px;
	
}

#datasetListContainer{
	max-height : 450px;
	max-width : 300px;
	min-width : 300px;
	overflow-y: auto;
}