

.panel {
	background: @widget-background-color; 
	border-top: solid 5px @widget-background-color; 
	background-clip: padding-box;
}

.panel-footer {
	padding-top: 5px;
	text-align: right;
}