#datasetSearchCriteria {
	min-width : 500px;
}

#coordinatesChoice, #coordinates, #mapExtent {
	text-align: center;
}

#coordinates label {
	font-weight:bold;
	font-size: 14px;
}

// Give a width to label to properly aligned date input
// Date input is 75% width, so 22% seems to fit well...
#date label {
	font-weight:bold;
	display: inline-block;
	width: 20%;
}