#standingOrderContent {
    min-width: 400px;
}

#startDateLabel, #endDateLabel, #startTimeLabel, #endTimeLabel{
	font-size:14px;
	font-weight:bold;
	display: inline-block;
	width: 20%;
}

/** style the time-driven parameters section*/
#timeDrivenParams{
	padding-top : 10px;
	border: 1px solid #AAAAAA;
}

#repeatPeriodLabel {
	font-size:14px;
	font-weight:bold;
	display: inline-block;
	width: 40%;
}

#repeatPeriodInput {
	font-size:14px;
	display: inline-block;
	width: 60%;
}


