<label for="export-format">Choose format:</label>
<select name="export-format" id="export-format" data-mini="true">
    <option value="">...</option>
    <option value="kml">KML</option>
    <option value="geojson">GeoJson</option>
    <option value="metalink">Metalink</option>
</select>


<div class="popup-widget-footer">
	<a id="download" target="_blank" data-role="button" data-mini="true"
		data-inline="true" data-theme="a">Download</a>
</div>