<!-- The status bar to give information on the search results -->
	<div id="datasetMessage" class="status-message ui-block-a">
		Dataset : None
	</div>
	<div id="paging" class="ui-block-b">
		<a id="paging_first" data-role="button" data-mini="true" data-inline="true">First</a>
		<a id="paging_prev" data-role="button" data-mini="true" data-inline="true">Previous</a>
		<a id="paging_next" data-role="button" data-mini="true" data-inline="true">Next</a>
		<a id="paging_last" data-role="button" data-mini="true" data-inline="true">Last</a>
	</div>
	<div class="status-block ui-block-c">
		<span id="resultsMessage">No search done.</span>
		<fieldset id="tableCG" data-role="controlgroup" data-mini="true" data-type="horizontal">
		   <label><input type="checkbox" id="tableCB" name="tableCB"/>Table</label>
	   </fieldset>
	</div>
