<div id="shopcartMessage" class="status-message ui-block-a">
    No shopcart
</div>

<!-- TODO: add pagination here if needed -->

<div class="status-block">
    <fieldset id="tableCG" data-role="controlgroup" data-mini="true" data-type="horizontal">
       <input type="checkbox" name="tableCB" id="tableCB" />
       <label for="tableCB">Table</label>
   </fieldset>
</div>