<label for="export-format">Choose format:</label>
<select name="export-format" id="shopcart-export-format" data-mini="true">
   <option value="">...</option>
   <option value="kml">KML</option>
   <option value="atom">Atom 1.0</option>
   <option value="html">HTML</option>
   <option value="json">JSON</option>
<select>


<div class="popup-widget-footer">
	<a id="download-exported-shopcart" target="_blank" data-role="button" data-mini="true"
		data-inline="true" data-theme="a">Download</a>
</div>