<div id="downloadManagersMonitoringContent"
	class="widget-content ui-body-c">
	<table cellpadding="0" cellspacing="0" border="0">
		<thead>
			<th></th>
			<th>Download Manager Name</th>
			<th>Status</th>
			<!--<th>User ID</th>-->
			<th>IP Address</th>
			<th>Last Accessed Date</th>
		</thead>
		<tbody>
		<% _.each(downloadmanagers, function(downloadManager, i) { %>
		
			<tr data-dmId="<%= downloadManager.downloadManagerId %>">
				<% if (downloadManager.status == 'ACTIVE'){ %>
					<td><span class="ui-icon-processing ui-icon ui-shadow">&nbsp;</span></td>
				<% } else if (downloadManager.status == 'INACTIVE') { %>
					<td><span class="ui-icon-paused ui-icon ui-shadow">&nbsp;</span></td>
				<% } else if (downloadManager.status == 'STOPPED') { %>
					<td><span class="ui-icon-cancelled ui-icon ui-shadow">&nbsp;</span></td>
				<% } else { %>
					<td><span class="ui-icon-unknown ui-icon ui-shadow">&nbsp;</span></td> 
				<% } %>
				<td><%= downloadManager.downloadManagerFriendlyName %></td>
				<td><%= downloadManager.status %></td>
				<!--<td><%= downloadManager.userId %></td>-->
				<td><%= downloadManager.ipAddress %></td>
				<td><%= downloadManager.lastAccessDate %></td>
			</tr>
		<% }); %>
		</tbody>
	</table>
</div>

<div class="popup-widget-footer">

	<button id="stop_dm" data-mini="true" data-inline="true" data-theme="a">Stop</button>

	<div id="stopDMDialog">
		Do you want to stop the download manager immediately, without waiting for current downloads to finish?
		<div id="stopDMDialogButtons">
			<button name="STOP_IMMEDIATELY" data-mini="true" data-inline="true" data-theme="a">Yes</button>
			<button name="STOP" data-mini="true" data-inline="true" data-theme="a">No</button>
		</div>
	</div>
</div>

