<form>

	<label for="shopcartNameField">Enter a name : </label>
	<input type="text" name="shopcartNameField" id="shopcartNameField" data-mini="true" data-theme="c" />
	
	<div class="popup-widget-footer">
		<div id="serverMessage"></div>
		<button id="submitShopcart" data-role="button" data-mini="true" data-inline="true" data-theme="a">Submit</button>
	</div>

</form>
