<div id="reassignDMDialog">
    <select id="downloadManagersList" data-mini="true" data-theme="c">
    <% _.each(downloadmanagers, function( downloadManager ) { %>
        <option value="<%= downloadManager.downloadManagerId %>" data-corners="false" data-theme="c"><%= downloadManager.downloadManagerFriendlyName %></option>
    <% }); %>
    </select>
    <a class="submit" data-mini='true' data-inline='true' data-theme='a' data-role='button' >OK</a>
</div>