<div id="userPrefsContent" class="widget-content ui-body-c">

	<ul data-role='listview' data-insets="true" id="layersPrefsList">
		<li data-role="list-divider" data-divider-theme="a">Last Selected Features:</li>
		<% _.each(keys, function(key) { %> 
			<li><b><%= key %> : </b> <%= (!get(key))? 'None' : get(key)%></li> 
		<% }); %>
	</ul>
	
</div>

<div class="popup-widget-footer">
	<button id="clearPrefs" data-role="button" data-mini="true" data-inline="true" data-theme="a">Reset Preferences</button>
</div>