<div id="userPrefsContent" class="widget-content ui-body-<%= theme %>">

	<ul id="layersPrefsList" data-role='listview' data-divider-theme="a" data-insets="true">
		<% _.each(UserPrefs.keys, function(key) { %> 
			<li><%= key %> : <%= (!UserPrefs.get(key))? 'None' : UserPrefs.get(key)%></li> 
		<% }); %>
	</ul>
	
</div>

<div class="popup-widget-footer">
	<button id="clearPrefs" data-role="button" data-mini="true" data-inline="true" data-theme="a">Reset Preferences</button>
</div>