<div id="wmsSearchPopup" data-transition="flip" data-theme="c" class="ui-content" data-role="popup">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    <div id="mapserverSearch">
        <label>WMS server url:
            <input type="text" placeholder="Mapserver url" value="" />
        </label>
        <a data-mini="true" data-role="button" data-icon="search" data-iconpos="right">Search</a>
        <div style="display: none; margin-top: 10px; font-type:bold; font-weight: bold; color: red;" class="status"></div>
    </div>
    <div style="display: none; text-align: center;" id="foundLayers">
        <div style="max-heightkey: "value",  500px; margin-top: 10px;" id="availableLayers"></div>
        <a data-mini="true" data-inline="true" data-role="button" data-icon="back" data-iconpos="right">Back</a>
        <a data-mini="true" data-inline="true" data-role="button" data-icon="add" data-iconpos="right">Add selected layers</a>
    </div>
</div>