
<div data-role="fieldcontain">

	<label for="From">Start Date : </label>
	
	<input name="From" id="from" type="text" data-role="datebox" data-mini="true"  data-theme="c"
		  data-options='{"mode": "calbox", "useTodayButton": true, "themeDate":"c", "calHighToday": false, "zindex": "2000"}'  >
</div>


<div data-role="fieldcontain">

	<label for="To">End Date : </label>
	
	<input name="To" id="to" type="text" data-role="datebox" data-mini="true"  data-theme="c"
	   data-options='{"mode": "calbox", "useTodayButton": true, "themeDate":"c", "calHighToday": false, "zindex": "2000"}'>

</div>

