<div id="downloadOptionsWidgetContent" class="widget-content ui-body-c">

	<div data-role="header"  class="ui-header ui-bar-a"> 
		<h1 class="ui-title">Download Options</h1>
	</div>
	
	<!-- 	display  download options -->
	<form>
		<% _.each(dataset.attributes.datasetSearchInfo.downloadOptions, function(option, i) { %>		
	
			<div data-role="fieldcontain">
				
				<label for="<%= option.argumentName %>_widget"><%= option.argumentName %> : </label>
					 
				<select id="<%= option.argumentName %>_widget" data-mini="true" data-theme="c">
					<% _.each(option.values, function(value) { %>
						<option value="<%= value.name%>"><%=value.humanReadable%> - sizeFactor : <%=value.sizeFactor%></option>
					<% }); %>
				</select>		   
		   </div>	 	
		<% }); %>
	
	</form>

</div>

<div class="popup-widget-footer">

	<button id="downloadOptionsUpdate" data-role="button" data-mini="true"
		data-inline="true" data-theme="a">Update Download Options</button>
	<!-- 	<button id="closeStandingOrderPopup" data-mini="true" data-inline="true" data-theme="a">Close</button> -->

</div>