<!-- if the selected dataset has no download options display an information message to the user -->

<% if ( includeCollapsibleHeader ) { %>
<div data-role="collapsible" data-inset="false" data-mini="true">
	<h3>Download Options : <%= dataset.get("datasetId") %></h3>
<% } %>
	<div class="downloadOptions">
		<% if ( downloadOptions.length == 0 ) { %>
			<div id="downloadOptionsMessage" class="widget-content ui-body-c ui-error-message">
				<p><b>No download options available.</b></p>
			</div>	
		<% } else { %>
			<!-- display  download options -->
			<form>
				<%
				_.each(downloadOptions, function(option) {	%>
					<% if (!option.cropProductSearchArea) { %>
						<label id="<%= option.argumentName %>_label" for="<%= option.argumentName %>"><%= option.caption || option.description %> :
						</label>
						<select id="<%= option.argumentName %>" data-mini="true" data-theme="c">
							<% if ( option.value == "@conflict" ) { %>
								<option value="" selected style="display: none;"></option>
							<% } %>
							<option value="None">None</option>
							<% _.each(option.values, function(value) { %>
								<option value="<%= value.name%>" <% if ( option.value && option.value == value.name) print('selected'); %> ><%=value.humanReadable%></option>
							<% }); %>
						</select>	
					<% } %>
				<% }); %>
				
				<% _.each(downloadOptions, function(option) { %>
					<% if (option.cropProductSearchArea) { %>
						<label id="<%= option.argumentName %>_label" for="<%= option.argumentName %>"><%= option.caption || option.description %></label>
						<input type="checkbox" id="<%= option.argumentName %>" <% if ( option.value ) print('checked="checked"'); %> data-mini="true"/>					
					<% } %>			
				<% }); %>
				
			</form>

		<% } %>
	</div>
<% if ( includeCollapsibleHeader ) { %>
</div>
<% } %>

