<!-- if the selected dataset has no download options display an information message to the user -->

<% if ( model.collection.length == 0 ) { %>
	<div id="downloadOptionsMessage" class="widget-content ui-body-a ui-error-message">
		<p><b>No download options available.</b></p>
	</div>	
<% } else { %>

	<!--
		Display  download options. 
		See (IICD-WC-WS)-(ngEO-14-ICD-ELC-075)-(Internal ICD Web Client - Web Server) issue 2.12 §4.4.3.1.1.2 for more information on the configuration of the downloadOptions
	-->
	<form>
		<% _.each(model.collection, function(option) { 
			var selectedValue = model.attributes[option.argumentName];
			%>
			<span value="<%= selectedValue %>"></span>
			<% if ( model.hasValidPreconditions( option ) ) {
				if (!option.cropProductSearchArea) {
					if (option.type == "checkbox") {
					%>
						<fieldset data-role="controlgroup">
						<label id="<%= option.argumentName %>_label" for="<%= option.argumentName %>"><%= option.caption || option.description %> : </label>
							<% _.each(option.value, function(value) { %>
								<% if ( model.hasValidPreconditions(value) ) { %>
									<label>
										<!-- Select the check box if value is defined -->
										<input type="checkbox" name="<%= option.argumentName %>" value="<%= value.name %>" data-mini="true" <% if ( value && value.selected ) print('checked="checked"'); %> />
										<%= value.humanReadable %>
									</label>
								<% } %>
							<% }); %>
						</fieldset>
					<% } else { %>
						<label id="<%= option.argumentName %>_label" for="<%= option.argumentName %>"><%= option.caption || option.description %> : </label>
						<select id="<%= option.argumentName %>" data-mini="true" data-theme="<%= theme %>">
							<!-- None is possible depending on option properties : NGEO-1811, NGEO-2165 -->

							<!-- NGEO-1916: Add "???" field in case of conflict between the selected products -->
							<% if ( selectedValue == "@conflict" ) { %>
								<option value="@conflict" selected>???</option>
							<% } %>
							<% _.each(option.value, function(value) { %>
								<% if ( !model.hasValidPreconditions(value) ) { %>
									<option value="" style="display: none;"></option>
								<% } else { %>
									<option value="<%= value.name%>" <% if ( selectedValue == value.name) { print('selected'); } %> ><%= value.humanReadable %></option>
								<% } %>
							<% }); %>
						</select>
					<% } %>
				<% } else { %>
					<label id="<%= option.argumentName %>_label"><%= option.caption || option.description %>
						<input name="<%= option.argumentName%>" data-wkt="true" type="checkbox" value="true" <% if( selectedValue ) print('checked="checked"'); %> data-mini="true" />
					</label>
				<% }
			}
		}); %>
	</form>

	<% if (updateCallback) { %>
		<div class="popup-widget-footer">
			<button id="downloadOptionsUpdate" data-role="button" data-mini="true" data-inline="true" data-theme="<%= theme %>">Update</button>
			<div id="downloadOptionsMessage"></div>
		</div>
	<% } %>

<% } %>

