<div id="searchResultsHeader" class="ui-header ui-bar-a ui-grid-b" role="banner">
	<div id="searchCriteriaSummaryContainer" class="ui-block-a"> 
		<button id="searchCriteriaSummary" data-role="button" data-inline="true" data-icon="info" data-mini="true">Search Criteria</button>
	</div>

	<div id="searchResultsTitle" class="ui-block-b">
		<h1 role="heading" class="ui-title" aria-level="1">Search Results</h1>
	</div>
	<div id="browseSliderContainer" class="ui-block-c">
		<label for="browseSlider" id="browseSliderLabel">Display selected browse layers :</label>
		<select name="browseSlider" id="browseSlider" data-mini="true" data-inline="true" data-role="slider" class="ui-slider-switch">
			<option value="off">Off</option>
			<option value="on">On</option>
		</select>
	</div>
	
	
</div>

<div id="searchMessage"></div>

<div id="results">

	<table cellpadding="0" cellspacing="0" border="0" id="datatable"></table>

</div>
	
<div id="downloadManagersPopup" data-role="popup" data-dismissable="false" data-position-to="origin" 
							 data-overlay-theme="a" class="ui-content">
	<div id="downloadManagersPopupContent"></div>
</div> 

	
<div id="searchCriteriaSummaryPopup" data-role=popup data-theme="c" 
								data-overlay-theme="a" 
								class="ui-content">
	<!-- 		add a close icon in the top left corner -->
		<a href="#" id="searchCriteriaClosePopup" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<p id="searchCriteriaPopupText"></p>
</div> 	