

#downloadManagersMonitoringContent{
	text-align : center;
	max-height: 300px;
	overflow-y: auto;
	font-size : 12px;
	
	table {
		width: 100%;
	}
	
	h4 {
		font-size : 12px;
	}
	
	th {
		padding: 7px 13px 7px 13px;
		font-weight : bold;
	}
	
	td {
		padding: 7px 13px 7px 13px;
	}
	
	/** set the background color for selected DM rows */
	tr.dm_selected {
		background-color: #9DCCF1;
	}
	
	.ui-icon {
		.border-radius(9px);
		display: inline-block;
	}	
}

#stopDMDialog {
	max-width: 250px;
}

#stopDMDialogButtons {
	text-align: center;
}

#dm_server_response {	
	padding-top: 10px;
	padding-bottom: 17px;
	text-align : center;
}

#installDownloadManagerMessage {
	padding-top: 10px;
	font-size : 12px;
	text-align : center;
}

