/** set the titles for download managers and DARS section in the centre*/
#dataAccessMonitoringContent h4 {
	text-align : center;
}

#dmsDiv {
	width : 30%;
	overflow : auto;
}

/** set the font of download managers list items */  
#dmsDiv li {
	font-size : 12px;
}

#darsDiv {
	max-height : 500px;
	max-width : 960px;
	width : 70%;
	overflow : auto;
	text-align : center;
}
/** style the text of the DAR collapsible */
.ui-collapsible-heading .ui-btn-text{
	font-size : 12px;
}

// The table should takes all the allowed space
#dataAccessMonitoringContent table {
	width: 100%;
}

#dataAccessMonitoringContent table th{
	padding: 3px 18px 3px 10px;
	font-weight : bold;
	font-size : 12px;
}

// Set a max-width to avoid a bug when tables contents is greater than table width
// The table final is MAX(table width, table content with)!
#dataAccessMonitoringContent table td{
	padding: 3px 18px 3px 10px;
	font-size : 12px;
	text-align : center;
	max-width: 310px;
	word-wrap: break-word;
	word-break: break-all;
}


.ui-icon-processing {
	background: #a6d36a;
	background-repeat: no-repeat;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
	float : right;
}

.ui-icon-cancelled {
	background: #c1272c;
	background-repeat: no-repeat;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
	float : right;
}

.ui-icon-paused {
	background: #DFCF1F;
	background-repeat: no-repeat;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
	float : right;
}

.ui-icon-completed {
	background: #2489ce;
	background-repeat: no-repeat;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
	float : right;
}

.ui-icon-unknown {
	background: #736357;
	background-repeat: no-repeat;
	-webkit-border-radius:              9px;
	border-radius:                      9px;
	float : right;
	
}

.ui-message {
	padding-top: 10px;
	padding-bottom: 17px;
	text-align : center;
}