@import "variables.less";

.popup-widget-background {
	background: @widget-background-color; 
}

#dataAccessPopup {
	width: 450px;
}

.popup-widget-footer{
	padding-top : 10px;
	text-align : center;
	font-weight : bold;
	font-size : 12px;
}
