
/**
 * The position for the toolbars
 */
// Style for toolbar
menu[type=toolbar] {
	z-index: 1005;
	position: absolute;
	background-color: fade(@background-color, 50%); 
    padding: 0;
	text-align: center;
}

// Map toolbar
#mapToolbar {
    //margin:0px auto;
	width: 340px;
	left: 50%;
	top: 0;
	margin-left: -170px;
}
// Help toolbar
#helpToolbar {
	right: 0;
}
// Search toolbar
#searchToolbar {
	top: 0;
}

/**
 * Icons for the toolbar
 */
#search .tb-icon {
	background-image: url(../images/search.png); 
}
#dataset .tb-icon {
	background-image: url(../images/dataset.png); 
}
#result .tb-icon {
	background-image: url(../images/result.png); 
}
#home .tb-icon {
	background-image: url(../images/home.png); 
}
#zoomOut .tb-icon {
	background-image: url(../images/zoomOut.png); 
}
#zoomIn .tb-icon {
	background-image: url(../images/zoomIn.png); 
}
#background .tb-icon {
	background-image: url(../images/background.png); 
}
#layers .tb-icon {
	background-image: url(../images/layers.png); 
}
#switch .tb-icon {
	background-image: url(../images/switch.png); 
}
#help .tb-icon {
	background-image: url(../images/help.png); 
}

/**
 * The date range slider
 */
#dateRangeSlider {
	z-index: 1005;
	bottom: @statusBar-height;
	left: 0px;
	background: @widget-background-color; 
	position: absolute;
	width: 100%;
}

@statusBar-height: 38px;

/**
 * The status bar
 */
#statusBar {
	position: absolute;
	z-index: 1005;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: @statusBar-height;
	color: white;
	text-shadow: 0 0 0;
	background: @widget-background-color;
	.user-select(none);
	text-align: center;
}

/** 
 * Styling for a message displaying the current dataset selected
 */

.status-message {
	float: left;
	line-height: @statusBar-height; // To vertical align text
}

.status-block {
	float: right;
	line-height: @statusBar-height; // To vertical align text
}

#resultsMessage {
	display: inline-block;
	min-width: 17em;
    text-align: right;
}

/**
 * The result status bar
 */

#resultsBar {
	text-align: center
}

#tableCG {
	display: inline-block;
	margin: 0 0 0 0.5em;
}

#paging {
	display: inline-block;
}
