/**
 * dataset selection view styling  
 */

#datasetSelection  .ui-collapsible-heading {
	margin: 0;
}
#ds-footer {
	text-align: right;
	border-top: 1px solid grey;
}

#ds-content { 
	overflow-y: auto;
	overflow-x: hidden;
	
	// Fix when using search filter, remove all margin is needed
	.ui-listview-filter-inset {
		margin: 0;
	}	
	
	// The listview is in read-only mode because no <a> is needed for dataset list view so we need to modify the cursor
	ul {
		cursor: pointer;
		background-color: #333333;
	}
	
	li img {
		float: right;
		margin-left: 8px;
	}
	
	// Some padding for icon positionning
	li {
		padding-left: 2.5em;
		font-size: 13px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	// Customize icon positionning for checkbox
	li .ui-icon {
		border-radius: 3px;
		top: 50%;
		margin-top: -8px;
		position: absolute;
		left: 10px;
	}
	// Set a blue background when the checkbox is on
	li .ui-icon-checkbox-on {
		background-color: #4596CE;
	}	

	// Add background color to be consistent with jqm 'c' theme
	.ui-collapsible-content {
		background-color: #333333;
	}

}

#datasetList {
	border-radius: 0px;
	.ui-btn-up-c {
		border: 0px;
	    border-bottom: 1px solid black; // Make border thiner
	}
}
