/* Palette */
@background-color: #0f0f0f;
//@background-color: #325E8F;
@text-color: #ffffff;
@active-color: #2489ce;
@border-color: lighten(@background-color,80%);

/* Layout */
@font-size: 14px;
@header-height: 48px;

/**
 * Main body definition (no longer needed because of jquery-mobile?)
 */
body {
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-size: @font-size;
	background-color: @background-color;
	color: @text-color;
}

/**
 * Full page layout
 */
html, body {	
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	//overflow: hidden;
	min-width: 960px;
}

.ui-error-message{
	text-align : center;
	font-size : 12px;
}

@import "mixins.less";
@import "menubar.less";
@import "map.less";
@import "toolbar.less";
@import "widget.less";
@import "panel.less";
@import "layers.less";
@import "datasetSelection.less";
@import "searchCriteria.less";
@import "resultTable.less";
@import "tabs.less";
@import "mapPopup.less";
@import "dataAccess.less";
@import "standingOrder.less";
@import "accountDARMonitoring.less";
@import "accountDownloadManagersMonitoring.less";
@import "directDownload.less";
@import "downloadOptionsWidget.less";
@import "rangeSlider.less";
@import "inquiries.less";

@import "jqm-datebox-1.1.0.less";
@import "jquery.dataTables.less";


// OpenLayers
@import "ol.less";
