@import "variables.less";
@import "mixins.less";

/**
 * Map : fill all space after the header
 */
#mapContainer {
	position: absolute;
	top: @header-height + 2px;
	bottom: 0;
	right: 0;
	left: 0;
    //background: url("../images/mapbg.png") repeat scroll 0 0 #DDDDDD;
	background-color: black;
    margin: 0;
    padding: 0;
	overflow: hidden;
	min-width: @base-width;
/*	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-flex;
	-webkit-flex-direction: column;*/
}

/**
 * Map styling
 */
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    margin: 0;
    padding: 0;
	.user-select(none);
}

/** 
 * Styling for loading message
 */
#loading {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -23px;
	margin-left: -23px;
}

#stats {
	position: absolute;
	z-index: 1;
	bottom: 5px;
	left: 5px;
}

/*
 * Tiny coordinate viewer container to visualize mouse coordinates on mouse move
 */
#coordinatesViewer {
    position: absolute;
    top: 5px;
    right: 80px;
    z-index: 1001;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 2px 5px;
    text-align: right;
    border-radius: 5px;
    font-size: 13px;
    
    /* Highlighting issue on Safari */
	-webkit-user-select: none;
}
