@import "variables.less";
@import "mixins.less";

/**
 * Map popup is an overlay on the right of the map
 */
#mapPopup {
	max-height: 400px;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 10%;
	background: rgba(15, 15, 15, 0.8);
	// Customize widget : no border on right, and no radius on right
	border-right: 0 solid black;
   .border-radiuses(5px, 0, 0, 5px);
   
   /* Highlighting issue on Safari */
	-webkit-user-select: none;
}


// Customize widget-content for map popup : no radius on right
#mapPopup .widget-content {
    .border-radiuses(5px, 0, 0, 5px);
}

// Setup good margin/padding for map popup
.mapPopup p {
	margin: 3px;
	padding: 0;
	// Limit width of text in the pop-up
    max-width: 16em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Icon for download
.ui-icon-save {
	background-image: url("../images/save.png");
}


// Icon for shopcart
.ui-icon-shop {
	background-image: url("../images/shop.png");
}

// Icon for browse
.ui-icon-browse {
  background: url("../images/browse.png") 50% 50% no-repeat;
  background-color: #252525;
}
.ui-icon-browse-multiple {
  background: url("../images/browse_multiple.png") 50% 50% no-repeat;
  background-color: #252525;	
}
// Code to "simulate" jqm button styling
.ui-btn-active {
	.ui-icon-browse {
		background-color: #395E7B !important;
	}
}
