@import "variables.less";
@import "mixins.less";

/**
 * Map popup is an overlay on the right of the map
 */
#mapPopup {
	max-height: 400px;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 10%;
	background: rgba(15, 15, 15, 0.6);
   
   /* Highlighting issue on Safari */
	-webkit-user-select: none;
	padding: 10px;

	.mapPopup {
		p {
			margin: 3px;
			padding: 0;
			// Limit width of text in the pop-up
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.clickagain {
			font-size: 11px;
		}
		.oneproduct {
			font-size: 12px;
		}
		a {
			width:24px;
			height:24px;
			display: inline-block;
			margin: 5px;
			margin-right: 1px;
			margin-bottom: 0;
			padding: 5px;
			opacity: 0.6;
			cursor: not-allowed;
			.border-radius(3px);
		}
		a span {
			width:24px;
			height:24px;
			display: block;
			background-repeat: no-repeat;
			background-position: center;
		}
		a.active {
			opacity: 1;
			cursor: pointer;
		}
		a.active:hover {
			background-color: rgba(120,120,120,0.5);
		}
		a.check span {
			background-image: url("../images/unpin.png");
			background-size: contain;
    		width: 28px;
    		height: 28px;
		}
		a.check.select span {
			background-image: url("../images/pin.png");
			background-size: contain;
   			width: 28px;
    		height: 28px;
		}
		// Icon for download
		a.save span {
			background-image: url("../images/save.png");
		}

		// Icon for download
		a.download span {
			background-image: url("../images/download.png");
		}

		// Icon for shopcart
		a.shop span {
			background-image: url("../images/cart-in.png");
		}

		// Icon for browse
		a.browse span {
			background-image: url("../images/browses.png");
		}
		a.browse-multiple span {
			background-image: url("../images/browses.png");
		}

	}

}

