#searchResultsTitle  {
	width : 75%;
	text-align : left;
}

#browseSliderContainer {
	width : 25%;
}

#browseSliderLabel {
	display : inline;
	font-size: 13px;
}

#datatable_filter label, #datatable_length label{
	font-size: 13px;
	font-weight:bold;
}