@import "mixins.less";

/****************************/
/*			Tabs root		*/
/*		(error messages)	*/
/****************************/

//make the shared url for search fit inside its container 
#sharedUrlText {
	word-wrap: break-word
}

// set a margin for collapsible, otherwise the collapsible header has a negative margin!
#datasetSearchCriteria  .ui-collapsible, #standingOrderView .ui-collapsible {
	margin: 0 1em;
}

// the content can be overflown
#sc-content {
	overflow-y: auto;
	overflow-x: hidden;
}

// Smaller label
#sc-content label, .ui-controlgroup-label {
	font-size: 13px;
}
#sc-footer {
	border-top: 1px solid #ccc;
}

.capitalize {
	text-transform: capitalize;
}
// Capitalize the advanced criteria title
#datasetSearchCriteria .ui-controlgroup-label, #standingOrderView .ui-controlgroup-label {
	text-transform: capitalize;
}

// Animate pulsating elements
.pulsating {
  animation: fadeAnimation 0.6s infinite;
  -webkit-animation: fadeAnimation 0.6s infinite;
}

@-webkit-keyframes fadeAnimation {
  0%,100%   { opacity: 0.2; }
  50% { opacity: 1; }
}

@keyframes fadeAnimation {
  0%,100%   { opacity: 0.2; }
  50% { opacity: 1; }
}

/************************************/
/*			Time criteria			*/
/************************************/

// Clock icon
.ui-icon-clock {
	background-position: 2px 1px;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C12c-2.762%2C0-5-2.238-5-5s2.238-5%2C5-5s5%2C2.238%2C5%2C5%20S9.762%2C12%2C7%2C12z%20M9%2C6H8V4c0-0.553-0.447-1-1-1S6%2C3.447%2C6%2C4v3c0%2C0.553%2C0.447%2C1%2C1%2C1h2c0.553%2C0%2C1-0.447%2C1-1S9.553%2C6%2C9%2C6z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

/* Update css to better rendering of timebox */
.ui-datebox-container {  
  .ui-grid-a  {  
    .ui-btn {  
      margin-right: -.5px !important;  
        margin-left: -0.5px !important;  
      }  
 
      .ui-btn[data-icon="plus"], .ui-btn[data-icon="minus"] {  
        .ui-btn-inner {  
          padding: 13px !important;  
        }  
      }  
  }  
  input.ui-input-text {  
    margin: 0em 3px !important;  
    width: 87%;  
  }  
 
}  

// Override input clear
.ui-input-datebox .ui-input-clear {
	right: 0px;
}

/************************************/
/*			Area criteria			*/
/*	(advanced & download options)	*/
/************************************/

#dropZone {
	.dropZoneStyle;
}

#gazetteer-results li {
	cursor: pointer;
}


/************************************/
/*			Dataset view			*/
/*	(advanced & download options)	*/
/************************************/

.sc-dataset-container {
	.optionsLabel {
		font-size: 13px;
		font-weight: bold;
	}

	#searchCriteria {

		margin: 1em 0px;

		//enlarge the input of the slider in order to display
		//big orbit numbers since in Chrome the field does not fit to the number length
		//filter the inputs which have a min attribute
		input[data-type="range"]{
			width : 45px;
		}
	}

	#downloadOptions {
		margin: 1em 0px;
	}
}

#sc-mode {
	vertical-align: middle;
}


#polygonTextError {
	color: red;
	white-space: normal;
}