///////////////////   			 tabs root elements styling : used for error messages styling		//////////////////////////////////

#datasetSearchCriteria {
	min-width : 500px;
	max-height : 600px;
	overflow-y: auto;
}

// Change the font-size 
#datasetSearchCriteria label {
	font-size : 14px;
}

#datasetSearchCriteria .capitalize {
	text-transform: capitalize;
}
// Capitalize the advanced criteria title
#datasetSearchCriteria .ui-controlgroup-label {
	font-size : 14px;
	text-transform: capitalize;
}

///////////////////   			 Area criteria styling 		//////////////////////////////////

// Setup the drop zone for import
.dropZoneStyle {
    border: 5px dashed black;
    height: 100px;
	text-align: center;
	line-height: 100px; // To vertically centered the text
	font-size: 1.4em;
	font-weight : bold;
}

#dropZone{
	.dropZoneStyle;
}

#gazetteer-results li {
	cursor: pointer;
}

///////////////////   			 Date search criteria styling 		//////////////////////////////////


// Give a width to label to properly aligned date input
// Date input is 75% width, so 22% seems to fit well...
#fromDateLabel, #toDateLabel{
	display : inline-block;
	width: 20%;
}

///////////////////   			 Advanced search criteria and Download options styling  		//////////////////////////////////


#advancedCriteriaMessage, #downloadOptionsMessage{
 	font-size : 12px;
	text-align : center;
}

//harmonize labels styling respectively for
//labels inside fieldcontain divs and for fieldset headers 
/*#searchCriteria label, #searchCriteria .ui-controlgroup-label{
	
	font-size : 14px;
	font-weight : bold;
}*/

//enlarge the input of the slider in order to display
//big orbit numbers since in Chrome the field does not fit to the number length
//filter the inputs which have a min attribute
#searchCriteria input[data-type="range"]{
	width : 60px;
}


// Add some margin for checkbox use when cropProductSearchArea is true
#downloadOptions .ui-checkbox {
	margin-top: 0.6em;
}

// The download options pop-up need to update the font-size for its label
// For the search criteria, it is already done above.
#downloadOptionsPopup label {
	font-size: 14px;
}
