#serachCriteriaRadios {
	//max-height : 450px;
	//max-width : 300px;
	//min-width : 500px;
	//overflow-y: auto;
	text-align: center;
}

#coordinatesChoice, #coordinates, #mapExtent {
	text-align: center;
}

#coordinates label {
	font-size: 14px;
}