
#facebook .tb-icon {
	background-image: url(../images/facebook.png); 
}
#twitter .tb-icon {
	background-image: url(../images/twitter.png); 
}
#email .tb-icon {
	background-image: url(../images/message.png); 
}
#raw .tb-icon {
	background-image: url(../images/link.png); 
}

.osAtomUrl .tb-icon {
	background-image: url(../images/rss.png);
}

#sharedUrlPopup-popup {
	z-index: 2000;
}

#sharedUrlLinks {
	text-align: center;
	
	a {
		text-decoration: none;
		color: #222222;
	}
	
	.tb-icon {
		margin: auto;
		width: 26px;
		height: 26px;
	}
}

/* Dataset view on header btn */
.sc-dataset-container {

	/* FF hack to align header with osAtomUrl */
	.ui-collapsible-heading-toggle > .ui-btn-inner {
		white-space: normal;
	}

	.osAtomUrl {
		float: right;
		cursor: pointer;
	}

	.tb-icon {
		width: 16px;
		height: 16px;
		background-size: 16px;
	}
}
