
/**
 * Style for main table container
 */
 
// Table fill the parent space
.table-view {
	width: 100%;
}

.table-nodata {
    line-height: 230px;
    text-align: center;
}

// Scroll body with fixed header
.table-content {
	width: 100%;
	height: 191px;
	overflow-y: auto;
	border-top: 1px solid @table-border-color;
}

@table-border-color: darken(white,40%);

/**
 * Style for header : some border and padding
 */
 
 // styling for header cell
.table-view thead th {
	padding: 4px 0px 4px 0px;
	border-right: 1px solid @table-border-color;
	
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
}

// remove border from last cell
.table-view thead th:last-child {
	border-right: 0px solid @table-border-color;
}

.table-header {
	// add border for bottom
	/*border-bottom: 1px solid @table-border-color;*/
	
	// Set constant header height
	th {
		height: 31px;
	}
}

/**
 * Style for body
 */
 
.table-view td {
    font-size: 12px;
    text-align: center;
	border-right: 1px solid @table-border-color;
}

.table-view td:last-child {
	border-right: 0px solid @table-border-color;
}


// Color for Odd line
.table-view tr:nth-child(odd) {
	background-color: #E9E9E9;
}

// Color for Even line
.table-view tr:nth-child(even) {
	background-color: white;
}

// Color for Selected line 
.table-view tr.row_selected {
	background-color: #B0BED9;
}


// Used to display a lightweight checkbox in the dataTable
.table-view-chekbox, .table-view-expand {
	display: inline-block;
	border-radius: 3px;
}

// Add a nice background (taken from JQM) when checkbox is on
.table-view-chekbox.ui-icon-checkbox-on {
	background-color: #4596CE;
}


/*
 * Sorting
 */
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

/**
 * Style for footer elements
 */

.table-filter { 

	label {
		font-size: 13px;
		font-weight: bold;
	}
	
	input {
		display: inline;
		width: auto;
	}
}

.table-middleButtons  {
	text-align: center;
}

.table-rightButtons  {
	text-align: right;
}

/** underline the product id for direct download */
.ui-direct-download {
 	text-decoration:underline;
 	cursor: pointer;
}