
/**
 * Basic structure for a tabs
 */
.ui-tabs {

	/**
	 * Remove list style and padding
	 */
	list-style: none;
	margin: 2px 0 0;
	padding: 0;
		
	/**
	 * Set inline-block to be horizontal
	 */
	> li {
		display: inline-block;
		padding: 0;
		margin: 0;
		margin-bottom: -1px;
		
		/**
		 * Style for the tab when not active
		 */
		> a {
			display: inline-block;
			text-decoration: none;
			margin: 0;
			padding: 8px;
		}
	}

	/**
	 * Style for the tab when active
	 */
	.ui-tabs-active > a {
		color: #2489ce;
	    background: #222222;
    	text-shadow: 0 1px 0 #000;
	}

}

/**
 * Style for tab content
 * Padding is necessary to be "glued" to tab
 */
.ui-tabs-content {
	padding: 5px;
}


/**
 * Style for theme 'a', used by SearchCriteria
 * All tabs have border, color for inactive is blackish
 */
.ui-tabs-a {
	li {
		border: 1px solid #444444;
		border-bottom-width: 0px;
	}
	
	a {
		color: #333333;
		font-weight: bold;
	}
}


/**
 * Style for theme 'b' (used by MyAccount)
 * Only active tab has border, color for inactive is greyish
 */
.ui-tabs-b {
	.ui-tabs-active {
		border: 1px solid #AAAAAA;
		border-bottom-width: 0px;
	}
	
	a {
		color: #ddd;
		font-weight: bold;
	}
}

