@import "variables.less";
@import "mixins.less";

/**
 * Toolbar
 *		transparent background
 *		layered above the map
 */

 // Remove list-style
menu[type=toolbar] {
	list-style: none outside none;
	margin-top: 0;
	margin-bottom: 0;
}

.tb-elt {
	position: relative;
	display: inline-block;	
	margin-top: 3px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}

menu[direction=vertical] .tb-elt {
	display: block;
}

/*
Red dot with number of features
(Commented since the new order..)
.nbFeatures {
	display: none;
    position: absolute;
    background: red;
    border-radius: 6px;
    padding: 1px 5px;
    top: 0px;
    right: 0px;
    font-size: 9px;
    transform: translate(50%, -50%);
}
*/

.btnHeader {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tb-large-button {
	cursor: pointer;
	margin: auto;
	padding: 4px;
	width: 130px;
	height: 2.5em;
	.border-radius(0.5em);
	position: inherit;
	line-height: 17px;
}

.tb-button {
	cursor: pointer;
	margin: auto;
	padding: 4px;
	width: 24px;
	height: 24px;
	.border-radius(0.5em);
	position: inherit;
}

.tb-button:hover, .tb-large-button {
	cursor: pointer;
	background: fade(@text-color, 20%); 
}

.toggle .tb-large-button, .tb-large-button:active {
	background-color: black;
}

.toggle .tb-button, .tb-button:active {
	.two-part-gradient (lighten(@active-color, 30%), lighten(@active-color, 10%), darken(@active-color,20%), darken(@active-color,10%));
	//border: solid 1px @active-color;
	//margin: 0px;
}

.tb-text {
	font-size: 0.8em; 
    max-width: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tb-icon {
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	position: inherit;
}

.tb-separator {
	width: 0px;
	height: 3em;
	border-left: solid 1px @text-color;
	display: inline-block;
	vertical-align: top;
	margin-right: 2em;
	margin-top: 3px;
	margin-left: 5em;
}