@widget-arrow-size: 20px;
@widget-background-color: fade(@background-color, 60%); 
@widget-border-radius: 8px;


.widget {
	position: absolute;
	z-index: 1005;
	background: @widget-background-color; 
	border: solid 5px @widget-background-color; 
	background-clip: padding-box;
	.border-radius(@widget-border-radius);
}

.widget-arrow-up {
	position: absolute;
	z-index: 1005;
	width: 0; 
	height: 0; 
	margin: auto;
	border-left: @widget-arrow-size solid transparent;
	border-right: @widget-arrow-size solid transparent;
	border-bottom: @widget-arrow-size solid @widget-background-color;
}


.widget-footer {
	padding-top: 5px;
//	text-align: right;
}
.widget-footer-right {
	float: right;
}
.widget-footer-left {
	float: left;
}

.widget-content {
	padding: 0.5em;
	.border-radius(@widget-border-radius);
}
