<div id="nameShopcartContent" class="widget-content ui-body-c">
	
	<form>
	
		<div data-role="fieldcontain">
			<label for="shopcartName">Enter a shopcart name :</label>
			<input type="text" name="shopcartNameField" id="shopcartNameField" data-mini="true" data-theme="c">
		</div>
		
		<div class="popup-widget-footer">
			<div id="serverMessage"></div>
			<button id="submit" data-role="button" data-mini="true" data-inline="true" data-theme="a">Submit</button>
		</div>
	
	</form>

</div>