<div id="shopcartManagerContent" class="widget-content ui-body-c">

	<div id="shopcartListDiv">
		<fieldset id="shopcartList" data-role=controlgroup data-inset="true">	
		
			<% _.each(models, function(shopcart) { %>
				
				<label id="<%= shopcart.id %>"><input id="<%= shopcart.id %>_input" type="radio" name="shopcart" data-theme="c" data-mini="true"/>  <%= shopcart.get('name') %> </label> 
			
			<% }); %>
				
		</fieldset>
	</div>
		
	<div class="popup-widget-footer">

		<div id="errorMessageDiv" class='ui-error-message'></div>
		
		<button id="new_shp" data-role="button" data-mini="true"
			data-inline="true" data-theme="a">New</button>
		
		<button id="load_shp" data-mini="true" data-inline="true"
			data-theme="a">Load</button>
			
		<button id="import_shp" data-role="button" data-mini="true"
			data-inline="true" data-theme="a">Import</button>
			
		<button id="share_shp" data-role="button" data-mini="true"
			data-inline="true" data-theme="a">Share</button>
				
		<button id="export_shp" data-mini="true" data-inline="true"
			data-theme="a">Export</button>
			
		<button id="rename_shp" data-mini="true" data-inline="true"
			data-theme="a">Rename</button>
			
		<button id="duplicate_shp" data-mini="true" data-inline="true"
		data-theme="a">Duplicate</button>
		
		<button id="delete_shp" data-mini="true" data-inline="true"
		data-theme="a">Delete</button>
	</div>

	<div id="sharedShopcartUrlPopup" data-role=popup data-theme="c" 
									data-overlay-theme="a" 
									class="ui-content">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<p id="sharedShopcartUrl"></p>
	</div>
	
</div>
