<div id="userPrefsContent" class="widget-content ui-body-c">

	<div class="ui-grid-a">
		<div id="datasetsPrefs" class="ui-block-a widget-content">
			<ul data-role='listview' data-insets='true' id="datasetsPrefsList">
				<li data-role="list-divider" data-divider-theme="a">Datasets</li>
			</ul>
		</div>
		
		<div id="layersPrefs" class="ui-block-b widget-content">
			<ul data-role='listview' data-insets="true" id="layersPrefsList">
				<li data-role="list-divider" data-divider-theme="a">Backgrounds</li>
			</ul>
		</div>
	</div>
<!--  <div id="productsPrefs" class="widget-content> -->
<!--  	<table></table> -->
<!--  </div> -->

	
</div>

<div class="popup-widget-footer">
	<button id="clearPrefs" data-role="button" data-mini="true" data-inline="true" data-theme="a">Reset Preferences</button>
</div>