
<div id="InstallDownloadManager" class="widget-content ui-body-c">
	<% if (downloadmanagers.length == 0){ %>
		<p><b>No download manager has been registered.</b></p>
	<% } %>	
	<p><b>To install a new Download Manager click on the following button : </b></p>
	<a data-mini='true' data-inline='true' data-theme='a' data-role='button' href='<%= downloadManagerInstallationLink %>'>Install Download Manager</a>
</div>

<% if (downloadmanagers.length != 0){ %>
<div id="downloadManagersMonitoringContent"
	class="widget-content ui-body-c">
	<table cellpadding="0" cellspacing="0" border="0">
		<thead>
			<th></th>
			<th>Download Manager Name</th>
			<th>Download Manager ID</th>
			<th>Status</th>
			<th>User ID</th>
			<th>IP Address</th>
			<th>Last Accessed Date</th>
		</thead>
		<tbody>
		<% _.each(downloadmanagers, function(downloadManager, i) { %>
		
			<tr id="row_<%= downloadManager.downloadmanagerid %>">
				<% if (downloadManager.status == 'ACTIVE'){ %>
					<td><span class="ui-icon-processing ui-icon ui-shadow">&nbsp;</span></td>
				<% } else if (downloadManager.status == 'INACTIVE') { %>
					<td><span class="ui-icon-cancelled ui-icon ui-shadow">&nbsp;</span></td>
				<% } else { %>
					<td><span class="ui-icon-unknown ui-icon ui-shadow">&nbsp;</span></td> 
				<% } %>
				<td><%= downloadManager.downloadmanagerfriendlyname %></td>
				<td><%= downloadManager.downloadmanagerid %></td>
				<td><%= downloadManager.status %></td>
				<td><%= downloadManager.userid %></td>
				<td><%= downloadManager.ipaddress %></td>
				<td><%= downloadManager.lastaccessdate %></td>
			</tr>
		<% }); %>
		</tbody>
	</table>
</div>

<div class="popup-widget-footer">

	<div id="dm_server_response"></div>
	<button id="stop_dm" data-role="button" data-mini="true"
		data-inline="true" data-theme="a">Stop</button>
	<button id="stop_immediately_dm" data-mini="true" data-inline="true"
		data-theme="a">Stop Immediately</button>
<!-- 	<button id="stop_dm" data-mini="true" data-inline="true" -->
<!-- 		data-theme="a">Stop</button> -->
</div>


<% } %>
