
<div id="dataAccessMonitoringContent" class="widget-content ui-body-c">


	<div class=ui-grid-a>

		<div id="dmsDiv" class="ui-block-a widget-content ui-body-c">
			<h4>Assigned Download Managers : <%= getOrderedStatuses().length %></h4>
			<ul id="downloadmnagers" data-role="listview" data-inset="true"
				data-theme="c">
				<% _.each(getOrderedStatuses(), function(newStatus) { %>
				<li id="<%= newStatus.dlManagerId %>" data-mini="true"><%=
					newStatus.downloadManagerName %> : <%= newStatus.DARs.length %></li> <% }); %>
			</ul>
		</div>

		<div id="darsDiv" class="ui-block-b widget-content ui-body-c">

		</div>
</div>
