
<div id="standingOrderContent" class="widget-content ui-body-c">

	<div id="standingOrderSpecificMessage" data-role="collapsible"
		data-theme="a" data-mini="true" data-collapsed-icon="info"
		data-iconpos="right">
	</div>

	<form id="form">
	
		<div data-role="fieldcontain">
	
			<label id="startDateLabel" for="startDateSTO" data-mini="true">Start Date:</label> <input name="startDateSTO" id="startDateSTO"
				type="text" data-role="datebox" data-mini="true" data-theme="c"
				value="<%= startDate %>"
				data-options='{"mode": "calbox", "overrideDateFormat":"%Y-%m-%d", "defaultDate": "<%= startDate %>", 
	 		   "useTodayButton": true, "themeDate":"c", "calHighToday": true, "calUsePickers": true, "calNoHeader": true, "zindex": "2000"}'> 
		</div>
	
		<div data-role="fieldcontain">
			
			<label id="startTimeLabel" for="startTimeInput" data-mini="true">Start Time:</label>
			<input name="startTime" id="startTimeInput" type="text" data-role="datebox" data-mini="true" data-theme="c" value="<%= startTime %>"
	   			data-options='{"mode": "timebox", "overrideTimeFormat": "24", "zindex": "2000"}'>
		</div>
		
		<div data-role="fieldcontain">
	
			<label id="endDateLabel" for="endDateSTO" data-mini="true">End Date:</label> <input name="endDateSTO" id="endDateSTO"
				type="text" data-role="datebox" data-mini="true" data-theme="c"
				value="<%= endDate %>"
				data-options='{"mode": "calbox", "overrideDateFormat":"%Y-%m-%d", "defaultDate": "<%= endDate %>", 
	  		   "useTodayButton": true, "themeDate":"c", "calHighToday": true, "calUsePickers": true, "calNoHeader": true, "zindex": "2000"}'> 
		</div>
	 
	 	<div data-role="fieldcontain">
			
			<label id="endTimeLabel" for="endTimeInput" data-mini="true">End Time:</label>
			<input name="endTime" id="endTimeInput" type="text" data-role="datebox" data-theme="c" data-mini="true" value="<%= endTime %>"
	   			data-options='{"mode": "timebox", "overrideTimeFormat": "24", "zindex": "2000"}'>
		</div>
		
		<div data-role="fieldcontain">
			<label id="openSearchLabel" for="textarea-a" data-mini="true">OpenSearch URL:</label>
		    <textarea name="textarea" id="openSearchURLArea" data-mini="true"><%= OpenSearchURL %></textarea>
		</div>
		
		<div id="type" class="ui-grid-a">
		    
		    <div class="ui-block-a"> 
				<% if (timeDriven == false) {  %>
					<input id="data-driven-input" type="radio" name="STOType" data-mini="true" checked>		
				<% } else { %>	 
				 	<input id="data-driven-input" type="radio" name="STOType" data-mini="true">
			 	<% } %>	 
				<label for="data-driven-input" id="data-driven-label" data-mini="true" data-corners="false">Data-Driven Order</label>         	
			</div>
			
			  <div class="ui-block-b"> 
				<% if (timeDriven == true) {  %>
					<input id="time-driven-input" type="radio" name="STOType" data-mini="true" checked>		
				<% } else { %>	 
				 	<input id="time-driven-input" type="radio" name="STOType" data-mini="true">	
			 	<% } %>	 
				
				<label for="time-driven-input" id="time-driven-label" data-mini="true" data-corners="false">Time-Driven Order</label>         	
			</div>
		
		</div>
		
		<div id="timeDrivenParams" class="widget-content">
	
			<div data-role="fieldcontain">
				<label id="repeatPeriodLabel" for="repeatPeriod" data-mini="true">Shifting Period (in days) : </label>
				<input type="number" name="repeatPeriod" id="repeatPeriodInput" data-mini="true" value="<%= repeatPeriod %>">
			</div>
			
			<div data-role="fieldcontain">
				<label id="applyShitfLabel" for="applyShitfCheckBox" data-mini="true">Apply shifting to search filter time period</label>
				<% if (slideAcquisitionTime == true) {  %>
					<input type="checkbox" name="applyShitfCheckBox" id="applyShitfCheckBox" data-mini="true" checked>		
				<% } else { %>	 
				 	<input type="checkbox" name="applyShitfCheckBox" id="applyShitfCheckBox" data-mini="true">	
			 	<% } %>	 	
				
			</div>
		</div>
	</form>
</div>

<div id="standingOrdersFooter" class="popup-widget-footer">

	<button id="CreateSTORequest" data-role="button" data-mini="true"
		data-inline="true" data-theme="a">Create Request</button>
	<button id="shareSTORequest" data-role="button" data-mini="true"
		data-inline="true" data-theme="a">Share</button>

</div>


<div id="sharedSTOUrlPopup" data-role=popup data-theme="c" 
								data-overlay-theme="a" 
								class="ui-content">
		<a href="#" id="closeSharedSTOUrlPopup" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		<p id="sharedSTOUrlText"></p>
</div>

