<div id="account">
<h2 id="account-header">My Account</h2> <a class="ui-link" data-ajax="false" href="account">Access to UMSSO profile management</a>
	<div id="tabs">
		<ul>
			<li><a data-help="<%= downloadManagers %>" href="#downloadManagersMonitoring">Download Managers</a></li>
			<li><a data-help="<%= dar %>" href="#DARMonitoring">Data Access Requests</a></li>
			<li><a data-help="<%= shopcart %>"href="#shopcarts">Shopcarts</a></li>
			<li><a data-help="<%= inquiries %>"href="#inquiries">Inquiries</a></li>
			<li><a data-help="<%= userPrefs %>"href="#userPrefs">User Preferences</a></li>
			<li><a data-help="<%= layerManager %>"href="#layerManager">Layer Manager</a></li>
		</ul>
		<div id="downloadManagersMonitoring"></div>
		<div id="DARMonitoring"></div>
		<div id="shopcarts"></div>
		<div id="inquiries"></div>
		<div id="userPrefs"></div>
		<div id="layerManager"></div>
	</div>
</div>