<div id="downloadOptionsWidgetContent" class="widget-content ui-body-c">
	<!-- 	display  download options -->
	<form>
		<% _.each(dataset.get('downloadOptions'), function(option, i) { %>		
	
			<div data-role="fieldcontain">
				
				<label for="<%= option.argumentName %>_widget"><%= option.argumentName %> : </label>
					 
				<select id="<%= option.argumentName %>_widget" data-mini="true" data-theme="c">
					<option value="None">None</option>
					<% _.each(option.values, function(value) { %>
						<% if (_.has(attributes, option.argumentName) && (attributes[option.argumentName] == value.name)) {  %>						
								<option value="<%= value.name%>" selected><%=value.humanReadable%> - sizeFactor : <%=value.sizeFactor%></option>
							<% } else { %>	 
			 					<option value="<%= value.name%>"><%=value.humanReadable%> - sizeFactor : <%=value.sizeFactor%></option>		
							<% } %>	 
					<% }); %>
				</select>		   
		   </div>	 	
		<% }); %>
	
	</form>

</div>

<div class="popup-widget-footer">
	<button id="downloadOptionsUpdate" data-role="button" data-mini="true"
		data-inline="true" data-theme="a">Update Download Options</button>

	<div id="downloadOptionsMessage"></div>
</div>