
<!-- if the selected dataset has no advanced criteria display an information message to the user -->

<% if ( _.size( model.get("advancedAttributes") ) == 0 ) { %>
	<div class="widget-content ui-body-c ui-error-message">
		<p><b>No advanced criteria available.</b></p>
	</div>

<% } else { %>	 		

<!-- 	display search criteria -->
	<form>			

	<% _.each( model.get("advancedAttributes"), function(criterion, i) { %>		
	
		   <!-- the criterion is an enumeration has multiple options so create a list of checkboxes  -->
			<% if (criterion.type == 'List') { %> 

					 <div data-role="fieldcontain">
						
						<fieldset data-role="controlgroup">
							
							<legend><%= criterion.id %>:</legend>
	
							<% _.each(criterion.possibleValues, function(possibleValue) { %>
							
								<label>
								
								<!-- select the check box if its set is the model  -->
								<% if ( model.get(criterion.id) && (model.get(criterion.id).indexOf(possibleValue.possibleValue) != -1)) {  %>
									<input type="checkbox" name="<%= criterion.id %>" value="<%= possibleValue.possibleValue %>" data-mini="true" checked="checked" />		
								<% } else { %>	 
									<input type="checkbox" name="<%= criterion.id %>" value="<%= possibleValue.possibleValue %>" data-mini="true"/>		
								<% } %>	

								<%=possibleValue.possibleValue%>
								</label>
								
							<% }); %>
							
						</fieldset>
					</div>
				
			<!-- the criterion is an integer within a range  -->	
			<% } else if (criterion.type == 'Integer' && criterion.rangeMinValue && criterion.rangeMaxValue) { %>	
				

				<div data-role="fieldcontain">
						
						<fieldset data-role="controlgroup">
							
							<legend><%= criterion.id %>:</legend>

							<% if ( model.get(criterion.id) ){ %>
								<label for="<%= criterion.id %>_from">from:</label>
								<input type="range" id="<%= criterion.id %>_from" value="<%= model.get(criterion.id).substring(1, model.get(criterion.id).indexOf(',')) %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>
								 
								<label for="<%= criterion.id %>_to">to:</label>
								<input type="range" id="<%= criterion.id %>_to" value="<%= model.get(criterion.id).substring(model.get(criterion.id).indexOf(',')+1,model.get(criterion.id).length-1) %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>
							
							<% } else { %>	
								<label for="<%= criterion.id %>_from">from:</label>
								<input type="range" id="<%= criterion.id %>_from" value="<%= criterion.rangeMinValue %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>
								
								<label for="<%= criterion.id %>_to">to:</label>
								<input type="range" id="<%= criterion.id %>_to"  value="<%= criterion.rangeMaxValue %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>
							
							<% } %>
						</fieldset>
				</div>

			<!-- the criterion is an string  -->	
			<% } else if (criterion.type == 'String') { %>	
			
				<div data-role="fieldcontain">
						
					<label class="capitalize" for="<%= criterion.id %>"><%= criterion.id %>:</label>

					<% if ( model.get(criterion.id) ){ %>
						<input type="text" name="<%= criterion.id %>" id="<%= criterion.id %>" value="<%= model.get(criterion.id) %>" data-mini="true"/>
					<% } else { %>	
						<input type="text" name="<%= criterion.id %>" id="<%= criterion.id %>" data-mini="true"/>
				
					<% } %>
				</div>

			<!-- the criterion is an float  -->	
			<% } else if (criterion.type == 'Float' || criterion.type == 'Integer') { %>	
			
				<div data-role="fieldcontain">
						
					<label class="capitalize" for="<%= criterion.id %>"><%= criterion.id %>:</label>

					<% if ( model.get(criterion.id) ){ %>
						<input type="number" name="<%= criterion.id %>" id="<%= criterion.id %>" value="<%= model.get(criterion.id) %>" data-mini="true"/>
					<% } else { %>	
						<input type="number" name="<%= criterion.id %>" id="<%= criterion.id %>" data-mini="true"/>
				
					<% } %>
				</div>
			<% } else { %>
				<div class="ui-error-message">
					<p><b>ERROR: Invalid Criterion type <%= criterion.type %> for <%= criterion.id %> </b></p>
				 </div>
			<% } %>
	
			
		<% }); %>
		</form>
<% } %>
