<% if (!dataset) { %> 

    <!-- if no dataset has been selected display an information message to the user -->

	<div id="advancedCriteriaMessage" class="widget-content ui-body-c">
		<p><b>No dataset has been selected.</b></p>
		<p><b>Please select a dataset first to see its advanced criteria </b></p>
	</div>

<% } else { %>	
	
	<!-- if the selected dataset has no advanced criteria display an information message to the user -->
	
	<% if (dataset.attributes.datasetSearchInfo.attributes.length == 0 ) { %>
		<div id="advancedCriteriaMessage" class="widget-content ui-body-c">
			<p><b>The selected dataset : <%=dataset.attributes.id %> </b></p>
			<p><b>Does not have advanced criteria </b></p>
		</div>
	
	<% } else { %>	 		
	
	<!-- 	display search criteria -->
		<form>
		<% _.each(dataset.attributes.datasetSearchInfo.attributes, function(criterion, i) { %>		
		
			   <!-- the criterion is an enumeration has multiple options so create a select  -->
				<% if (criterion.type == 'enumeration') { %> 
		
		 			<!-- the criterion has 2 options so create two radio buttons  -->
					<% if (criterion.possibleValues.length == 2) { %> 
						<div data-role="fieldcontain">
							
							<fieldset id="<%= criterion.id %>" data-role="controlgroup">
								
								<legend><%= criterion.id %>:</legend>
    	
       							<input id="<%=criterion.possibleValues[0].possibleValue%>_input" type="radio" name="<%=criterion.possibleValues[0].possibleValue%>" data-mini="true" checked="true">
								<label for="<%= criterion.id %>_input_1" id="<%=criterion.possibleValues[0].possibleValue%>_label" data-mini="true" data-corners="false"><%=criterion.possibleValues[0].possibleValue%></label>         	

								<input id="<%=criterion.possibleValues[1].possibleValue%>_input" type="radio" name="<%=criterion.possibleValues[1].possibleValue%>" data-mini="true">
								<label for="<%=criterion.possibleValues[1].possibleValue%>_input" id="<%=criterion.possibleValues[1].possibleValue%>_label" data-mini="true" data-corners="false"><%=criterion.possibleValues[1].possibleValue%></label>         	
								
    						</fieldset>
   						</div>
					 <!-- the criterion has multiple options with only one value allowed so create a select  -->
					<% } else if (criterion.value == 'single') { %>	
							
						 <div data-role='fieldcontain'> 
							
							<label for="<%= criterion.id %>" data-mini="true"><%=criterion.id%>: </label>   
							
							<select id="<%= criterion.id %>" data-mini="true" data-theme="c">
								<% _.each(criterion.possibleValues, function(possibleValue) { %>
									<option value="<%=possibleValue.possibleValue%>"><%=possibleValue.possibleValue%></option>
								<% }); %>
						 	</select>	
						 	
						</div>
						 <!-- the criterion has multiple options with multiple values allowed so create a group of checkboxes  -->
					<% } else if (criterion.value == 'multiple') { %>	
							
						 <div data-role="fieldcontain">
							
							<fieldset id="<%= criterion.id %>" data-role="controlgroup">
								
								<legend><%= criterion.id %>:</legend>
    	
    							<% _.each(criterion.possibleValues, function(possibleValue, index) { %>
									 <label id="<%=possibleValue.possibleValue%>_label_<%= index %>" for="<%=possibleValue.possibleValue%>_input_<%= index %>"><%=possibleValue.possibleValue%></label>
   						 			 <input type="checkbox" name="<%=possibleValue.possibleValue%>" id="<%=possibleValue.possibleValue%>_input_<%= index %>" data-mini="true"/>		
								<% }); %>
       							
    						</fieldset>
   						</div>
					
					<% } else { %>
					
					<% }  %>
				<!-- the criterion is an integer within a range  -->	
				<% } else if (criterion.type == 'integer' && criterion.rangeMinValue && criterion.rangeMaxValue) { %>	
					

					<div data-role="fieldcontain">
							
							<fieldset id="<%= criterion.id %>" data-role="controlgroup">
								
								<legend><%= criterion.id %>:</legend>
    	
       							 <label for="<%= criterion.id %>_from">from:</label>
   						 		 <input type="range" name="<%= criterion.id %>_from" id="<%= criterion.id %>_from" value="<%= criterion.rangeMinValue %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>

								 <label for="<%= criterion.id %>_to">to:</label>
   						 		 <input type="range" name="<%= criterion.id %>_to" id="<%= criterion.id %>_to" value="<%= criterion.rangeMaxValue %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>

    						</fieldset>
   					</div>

				<% } else { %>	
					 <label> ERROR: Undefined Criterion type <%= criterion.id %> </label>
				<% } %>
		
				
			<% }); %>
			</form>
	<% } %>
<% } %>