<% if (!dataset) { %> 

    <!-- if no dataset has been selected display an information message to the user -->

	<div id="advancedCriteriaMessage" class="widget-content ui-body-c">
		<p><b>No dataset has been selected.</b></p>
		<p><b>Please select a dataset first to see its advanced criteria </b></p>
	</div>

<% } else { %>	
	
	<!-- if the selected dataset has no advanced criteria display an information message to the user -->
	
	<% if (dataset.attributes.datasetSearchInfo.attributes.length == 0 ) { %>
		<div id="advancedCriteriaMessage" class="widget-content ui-body-c">
			<p><b>The selected dataset : <%=dataset.attributes.id %> </b></p>
			<p><b>Does not have advanced criteria </b></p>
		</div>
	
	<% } else { %>	 		
	
	<!-- 	display search criteria -->
		<form>			

		<% _.each(dataset.attributes.datasetSearchInfo.attributes, function(criterion, i) { %>		
		
			   <!-- the criterion is an enumeration has multiple options so create a list of checkboxes  -->
				<% if (criterion.type == 'enumeration') { %> 

						 <div data-role="fieldcontain">
							
							<fieldset id="<%= criterion.id %>" data-role="controlgroup">
								
								<legend><%= criterion.id %>:</legend>
    	
    							<% _.each(criterion.possibleValues, function(possibleValue) { %>
									
									<label id="<%=criterion.id%>_<%=possibleValue.possibleValue%>_label" for="<%=criterion.id%>_<%=possibleValue.possibleValue%>_input"><%=possibleValue.possibleValue%></label>
<!-- 									select the check box if its set is the model and its value is different from the default one  -->
									<% if (_.has(attributes, criterion.id) && (attributes[criterion.id].indexOf(possibleValue.possibleValue) != -1 && attributes[criterion.id] != dataset.getDefaultCriterionValue(criterion.id))) {  %>
										<input type="checkbox" name="<%= criterion.id %>" id="<%=criterion.id%>_<%=possibleValue.possibleValue%>_input" data-mini="true" checked/>		
									<% } else { %>	 
   						 				<input type="checkbox" name="<%= criterion.id %>" id="<%=criterion.id%>_<%=possibleValue.possibleValue%>_input" data-mini="true"/>		
  						 			<% } %>	 				 
   						 		<% }); %>
       							
    						</fieldset>
   						</div>
					
				<!-- the criterion is an integer within a range  -->	
				<% } else if (criterion.type == 'integer' && criterion.rangeMinValue && criterion.rangeMaxValue) { %>	
					

					<div data-role="fieldcontain">
							
							<fieldset id="<%= criterion.id %>" data-role="controlgroup">
								
								<legend><%= criterion.id %>:</legend>

								<% if (_.has(attributes, criterion.id)){ %>
									<label for="<%= criterion.id %>_from">from:</label>
									<input type="range" name="<%= criterion.id %>_from" id="<%= criterion.id %>_from" value="<%= attributes[criterion.id].substring(1, attributes[criterion.id].indexOf(',')) %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>
									 
									<label for="<%= criterion.id %>_to">to:</label>
									<input type="range" name="<%= criterion.id %>_to" id="<%= criterion.id %>_to" value="<%= attributes[criterion.id].substring(attributes[criterion.id].indexOf(',')+1,attributes[criterion.id].length-1) %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>
								
								<% } else { %>	
								 	<label for="<%= criterion.id %>_from">from:</label>
								 	<input type="range" name="<%= criterion.id %>_from" id="<%= criterion.id %>_from" value="<%= criterion.rangeMinValue %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>
									
									<label for="<%= criterion.id %>_to">to:</label>
									<input type="range" name="<%= criterion.id %>_to" id="<%= criterion.id %>_to" value="<%= criterion.rangeMaxValue %>" min="<%= criterion.rangeMinValue %>" max="<%= criterion.rangeMaxValue %>" data-highlight="true" data-mini="true"/>
								
								<% } %>
    						</fieldset>
   					</div>

				<!-- the criterion is an string  -->	
				<% } else if (criterion.type == 'string') { %>	
				
					<div data-role="fieldcontain">
							
						<legend><%= criterion.id %>:</legend>

						<% if (_.has(attributes, criterion.id)){ %>
							<label for="<%= criterion.id %>"><%= criterion.id %></label>
							<input type="text" name="<%= criterion.id %>" id="<%= criterion.id %>" value="<%= attributes[criterion.id] %>" data-mini="true"/>
							 
								
						<% } else { %>	
						 	<label for="<%= criterion.id %>"><%= criterion.id %></label>
						 	<input type="text" name="<%= criterion.id %>" id="<%= criterion.id %>" data-mini="true"/>
					
						<% } %>
   					</div>

				<!-- the criterion is an float  -->	
				<% } else if (criterion.type == 'float') { %>	
				
					<div data-role="fieldcontain">
							
						<legend><%= criterion.id %>:</legend>

						<% if (_.has(attributes, criterion.id)){ %>
							<label for="<%= criterion.id %>"><%= criterion.id %></label>
							<input type="number" name="<%= criterion.id %>" id="<%= criterion.id %>" value="<%= attributes[criterion.id] %>" data-mini="true"/>
							 
								
						<% } else { %>	
						 	<label for="<%= criterion.id %>"><%= criterion.id %></label>
						 	<input type="number" name="<%= criterion.id %>" id="<%= criterion.id %>" data-mini="true"/>
					
						<% } %>
   					</div>
				<% } else { %>
					
					 <label> ERROR: Undefined Criterion type <%= criterion.id %> </label>
				<% } %>
		
				
			<% }); %>
			</form>
	<% } %>
<% } %>