
<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			     
	<input type="radio" name="radio-area-criteria" id="radio-coordinates" value="on" checked="checked">
	<label for="radio-coordinates" id="radio-coordinates-label" data-corners="false" data-theme="c">Coordinates</label>
			         	
	<input type="radio" name="radio-area-criteria" id="radio-gazetteer" value="off">
	<label for="radio-gazetteer" id="radio-gazetteer-label" data-corners="false" data-theme="c">Gazetteer</label>
    	
</fieldset>

<div id="coordinates" class="ui-grid-a">

	<div class="ui-block-a" >
		<label for="Centerlat">Center Latitude:</label>
		<input type="text" name="lat" id="Centerlat" data-mini="true" data-theme="c" value="">
   		
	</div>
	<div class="ui-block-b">
		<label for="Centerlon">Center Longitude:</label>
		<input type="text" name="lon" id="Centerlon" data-mini="true" data-theme="c" value="">
	</div>
	
	<div class="ui-block-c">
		<label for="height">Height :</label>
		<input type="text" name="height" id="height" data-mini="true" data-theme="c" value="">
	</div>
	
	<div class="ui-block-d">
		<label for="width">Width :</label>
		<input type="text" name="width" id="width" data-mini="true" data-theme="c" value="">
	</div>
</div>

<div id="gazetteer"></div>

