<fieldset id="coordinatesChoice" data-role="controlgroup" data-type="horizontal" data-mini="true">
				     
	<input type="radio" name="radio-area-criteria" id="radio-coordinates" value="on" data-theme="c" checked="checked">
	<label for="radio-coordinates" id="radio-coordinates-label" data-corners="false">Coordinates</label>
			         	
	<input type="radio" name="radio-area-criteria" id="radio-gazetteer" data-theme="c" value="off">
	<label for="radio-gazetteer" id="radio-gazetteer-label" data-corners="false">Gazetteer</label>
	    	
</fieldset>

<div id="coordinates" class="ui-grid-a">

		<div class="ui-block-a" >
			<label for="west">West:</label>
			<div data-role="fieldcontain"><input type="text" name="west" id="west" data-mini="true" data-theme="c" value="<%=attributes.west%>"></div>
		</div>
		
		<div class="ui-block-b">
			<label for="south">South:</label>
			<div data-role="fieldcontain"><input type="text" name="south" id="south" data-mini="true" data-theme="c" value="<%=attributes.south%>"></div>
		</div>
		
		<div class="ui-block-c">
			<label for="east">East:</label>
			<div data-role="fieldcontain"><input type="text" name="east" id="east" data-mini="true" data-theme="c" value="<%=attributes.east%>"></div>
		</div>
		
		<div class="ui-block-d">
			<label for="north">North:</label>
			<div data-role="fieldcontain"><input type="text" name="north" id="north" data-mini="true" data-theme="c" value="<%=attributes.north%>"></div>
		</div>
	
</div>

<div id="mapExtent" data-role="fieldcontain">
	<label id="mapExtentCheckBoxLabel" for="mapExtentCheckBox">Use map extent</label>
	<input type="checkbox" name="mapExtent" id="mapExtentCheckBox" data-mini="true" data-theme="c" checked="false">
</div>

<div id="gazetteer"></div>
