	
<!-- if the selected dataset has no download options display an information message to the user -->

<% if ( _.size(model.get("downloadOptions")) == 0 ) { %>
	<div id="downloadOptionsMessage" class="widget-content ui-body-c ui-error-message">
		<p><b>No download options available.</b></p>
	</div>	
<% } else { %>	 		

	<!-- 	display  download options -->
	<form>			
		<% _.each(model.get("downloadOptions"), function(option) { %>		
			<% if (!option.cropProductSearchArea) { %>
				<label id="<%= option.argumentName %>_label" for="<%= option.argumentName %>"><%= option.caption || option.description %> : </label>
					<select id="<%= option.argumentName %>" data-mini="true" data-theme="c">
					<% if ( model.get(option.argumentName) == "@conflict" ) {  %>
					<option value="" selected style="display: none;"></option>
					<% } %>
					<option value="None">None</option>
					<% _.each(option.values, function(value) { %>
						<% if ( model.get(option.argumentName) && (model.get(option.argumentName) == value.name) ) {  %>						
							<option value="<%= value.name%>" selected><%=value.humanReadable%></option>
						<% } else { %>	 
							<option value="<%= value.name%>"><%=value.humanReadable%></option>		
						<% } %>	 
					<% }); %>
				</select>	
			<% } %>
		<% }); %>
		
		<% _.each(model.get("downloadOptions"), function(option) { %>		
			<% if (option.cropProductSearchArea) { %>
				<label id="<%= option.argumentName %>_label" for="<%= option.argumentName %>"><%= option.caption || option.description %></label>
				<% if ( model.get(option.argumentName) ) {  %>						
					<input type="checkbox" id="<%= option.argumentName %>" checked="checked" data-mini="true"/>
				<% } else { %>	 
					<input type="checkbox" id="<%= option.argumentName %>" data-mini="true"/>		
				<% } %>	 					
			<% } %>			
		<% }); %>
		
	</form>

<% } %>

