<% if (!dataset) { %> 

    <!-- if no dataset has been selected display an information message to the user -->
	<div id="downloadOptionsMessage" class="widget-content ui-body-c">
		<p><b>No dataset has been selected.</b></p>
		<p><b>Please select a dataset first to see its download options</b></p>
	</div>

<% } else { %>	
	
	<!-- if the selected dataset has no download options display an information message to the user -->
	
	<% if (!dataset.get("downloadOptions")) { %>
		<div id="downloadOptionsMessage" class="widget-content ui-body-c">
			<p><b>The selected dataset : <%=dataset.get("datasetId") %> has invalid download options.</b></p>
		</div>
	<% } else if (dataset.get("downloadOptions").length == 0 ) { %>
		<div id="downloadOptionsMessage" class="widget-content ui-body-c">
			<p><b>The selected dataset : <%=dataset.get("datasetId") %> does not have download options.</b></p>
		</div>
	
	<% } else { %>	 		
	
		<!-- 	display  download options -->
		<form>
			
			<% _.each(dataset.get("downloadOptions"), function(option, i) { %>		

				<div data-role="fieldcontain">
					
					<label id="<%= option.argumentName %>_label" for="<%= option.argumentName %>"><%= option.argumentName %> : </label>
						 
					<select id="<%= option.argumentName %>" data-mini="true" data-theme="c">
						<% _.each(option.values, function(value) { %>
							<% if (_.has(attributes, option.argumentName) && (attributes[option.argumentName] == value.name)) {  %>						
								<option value="<%= value.name%>" selected><%=value.humanReadable%> - sizeFactor : <%=value.sizeFactor%></option>
							<% } else { %>	 
			 					<option value="<%= value.name%>"><%=value.humanReadable%> - sizeFactor : <%=value.sizeFactor%></option>		
							<% } %>	 
						<% }); %>
					</select>	
			   
			   </div>	 	
			<% }); %>
		
		</form>
	
	<% } %>

<% } %>
