
<!-- <div data-role="header" data-id="nav" data-position="fixed"> -->
<!-- 	<div data-role="navbar"> -->
<!-- 		<ul> -->
<!-- 			<li><a href="#date">Date</a></li> -->
<!-- 			<li><a href="#area">Area</a></li> -->
<!-- 			<li><a href="#searchCriteria">Advanced Criteria</a></li> -->
<!-- 		</ul> -->
<!-- 	</div>/navbar -->
<!-- </div>/footer -->

<!-- <div id="#date></div> -->
<!-- <div id="#area></div> -->
<!-- <div id="#searchCriteria></div> -->

<h3>Enter your search criteria for selected dataset : <%= datasetId %></h3>

<button id="back">back</button>