<div id="sharedUrlPopup" data-role=popup data-theme="c" data-overlay-theme="a" class="ui-content">
	<a href="#" id="closeSharedUrlPopup" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
		
	<div id="sharedUrlLinks">
		<a id="facebook" target="_blank" href="#">Facebook</a>
		<a id="twitter" target="_blank" href="#">Twitter</a>
		<a id="email" target="_blank" href="#">Email</a>
		<a id="raw" target="_blank" href="#">Url</a>
	</div>
</div>