
<div id="dataAccessMonitoringContent" class="widget-content ui-body-c" >
     
     <div>
		<label id ="dmName">Download Manager</label>
	     <label id ="dar">Data Access Request</label>
	     <label id ="type">Type</label>
	     <label id ="status">Status</label>
	     <label id ="products">Products</label>
	</div>				     
		<% _.each(getOrderedStatuses(), function(newStatus) { %>		     

			<div>
				<label id ="<%= newStatus.downloadManagerName %>" data-mini="true"><%= newStatus.downloadManagerName %></label>
				<span> 
					<% _.each(newStatus.DARs, function(dar) { %>

						     <label id ="<%= dar.ID %>" data-mini="true"><%= dar.ID %></label>
						     <label id ="<%= dar.type %>" data-mini="true"><%= dar.type %></label>
						     <label id ="<%= dar.status %>" data-mini="true"><%= getStatus(dar.status).status %></label>
						     <span> 
						     
							     <% if (dar.productStatuses) { %>
							      <table cellpadding="0" cellspacing="0" border="0">
									 <% _.each(dar.productStatuses, function(productStatus) { %>		
										  <tbody>
										    <tr>
										      <td><%= productStatus.productURL %></td>
										      <td><%= getStatus (productStatus.productStatus).status %></td>
										      <td><%= productStatus.percentageCompleted %></td>
										      <td><%= productStatus.expectedSize %></td>
										    </tr>
										  </tbody>
									 <% }); %>
								 </table> 	
								<% } %>	
					  	</span>
					<% }); %>
				</span>
		  </div>
		<% }); %>	         	

</div>

<div id="monitoringButtons" class="popup-widget-footer">
	
	<button id="stop" data-role="button" data-mini="true" data-inline="true" data-theme="a" >Stop</button>
	<button id="pause" data-mini="true" data-inline="true" data-theme="a">Stop definitively</button> 

	<div id="serverDARMonitoringResponse"></div>

</div>	
	