<ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
	
	<li data-role="divider" data-theme="a">Direct Download Links</li>
	<li>
		<a href="<%= url %>" target="_blank">Via Browser</a>
	</li>
	<% if (downloadHelperUrl){ %>
		<li>
			<a href="<%= downloadHelperUrl %>" target="_blank">Via Local Download Manager</a>
		</li>
	<% } %>	
</ul>
