<ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="c">
	
	<li data-role="divider" data-theme="a">Direct Download Links</li>
	<li>
		<a href="<%= url %>" target="_blank">Browser Download</a>
	</li>
	<% if (downloadHelperUrl){ %>
		<li>
			<a id="downloadHelperUrl" href="" class="ui-disabled" target="_blank">Download Manager Download</a>
		</li>
	<% } %>	
</ul>

<div class="popup-widget-footer" style="display:none;">
	
	<div id="directDownloadMessage"/>

</div>
