
<div id="downloadManagersContent" class="widget-content ui-body-c">

	<div id="dataAccessSpecificMessage">
	</div>

	<label>Download directory : 
		<input type="text" id="downloadDirectory" />
	</label>
	
	<label>Download Manager : 
		<select id="downloadManagersList" data-mini="true" data-theme="c">
		<% _.each(downloadmanagers, function(downloadManager) { %>	
			<option value="<%= downloadManager.downloadManagerId %>" data-corners="false" data-theme="c"><%= downloadManager.downloadManagerFriendlyName %></option> 
		<% }); %>
		</select>
	</label>
	

<div id="downloadManagersFooter" class="popup-widget-footer">
	
	<button id="validateRequest" data-role="button" data-mini="true" data-inline="true" data-theme="a" >Validate</button>

	<div id="serverMessage"></div>

</div>	
	