
<div id="downloadManagersContent" class="widget-content ui-body-c">

	<div id="dataAccessSpecificMessage" data-role="collapsible" data-theme="a" data-mini="true">
	</div>
	
	<div id="downloadManagerStatusMessage"></div>

			<select id="downloadManagersList" data-mini="true" data-theme="a">
			<% _.each(downloadmanagers, function(downloadManager) { %>	
				<option value="<%= downloadManager.downloadManagerId %>" data-corners="false" data-theme="c"><%= downloadManager.downloadManagerFriendlyName %></option> 
			<% }); %>
			</select>
	</div>

<div id="downloadManagersFooter" class="popup-widget-footer">
	
	<button id="validateRequest" data-role="button" data-mini="true" data-inline="true" data-theme="a" >Validate</button>

	<div id="serverMessage"></div>

</div>	
	