
<div id="downloadManagersContent" class="widget-content ui-body-c">

	<div id="dataAccessSpecificMessage" data-role="collapsible" data-theme="a" data-mini="true">
	</div>
	
	<div id="downloadManagerStatusMessage"></div>
	
	
	<fieldset id="downloadManagersList" data-role="controlgroup" data-mini="true">
	
		<% _.each(downloadmanagers, function(downloadManager) { %>		     
			<input id="<%= downloadManager.downloadManagerId %>_input" type="radio" name="downloadManager" value="<%= downloadManager.downloadManagerId %>">
			<label for="<%= downloadManager.downloadManagerId %>_input" id="<%= downloadManager.downloadManagerId %>" data-corners="false" data-theme="c"><%= downloadManager.downloadManagerFriendlyName %></label>
		<% }); %>	         	
	
	</fieldset>

</div>

<div id="downloadManagersFooter" class="popup-widget-footer">
	
	<button id="validateRequest" data-role="button" data-mini="true" data-inline="true" data-theme="a" >Validate Your Request</button>

	<div id="serverMessage"></div>

</div>	
	